{% extends "orders/base.html" %}
{% block nav %}{% include "orders/nav.html" %}{% endblock %}
{% block content %} 

<div class="container-fluid">
  <div class="row" style="margin-top: 40px;">
    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Реестры по оферте</h5>
          <p class="card-text">Здесь расположены списки по реестрам по оферте. Вам будут представлены дела только вашего филиала.</p>
          <a href="/paid_departure/filials/" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div> -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Платные выезда</h5>
          <p class="card-text">Здесь находятся договора по платным выездам. Вам будут представлены дела только вашего филиала.</p>
          <a href="/paid_departure/filials/" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Особое обращение с заголовком</h5>
          <p class="card-text">С вспомогательным текстом ниже в качестве естественного перехода к дополнительному контенту.</p>
          <a href="#" class="btn btn-primary">Перейти</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}