{% extends "orders/base.html" %}
{% block nav %}{% include 'orders/nav.html' %}{% endblock %}
{% block content %}
<div>



</div>
<div class="card" style="margin: 10px 100px 10px 100px;">
    <div class="card-header">
      Номер договора_2 - {{ order.number_orders_vozm }}
    </div>
    <div class="card-body">
      <p class="card-text">ФИО - {{ order.fio }}, ФИО исполнителя - {{ order.exicutor }}, Цена - {{ order.price }}, Дата акта - {{ order.date_akt }}, Комментарий - {{ order.comment }}, Дата передачи в бухгалтерию - {{ order.date_buhgt }}</p>
      <a href="{% url 'edit_order' order.pk %}" class="btn btn-primary">Редактировать</a>
    </div>
  </div>

</div>
{% endblock %}